@font-face {
  font-family: 'Tagesschrift';
  src: url('./fonts/got.ttf');
}

.countdown {
  font-family: 'Tagesschrift'
}

.countdown-number {
  font-size: xx-large;
  color: rgb(209, 154, 4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
