.details-container {
    background-color: #000000;
    left: 0;
    height: 100%;
    font-family: 'Tagesschrift';
    position: absolute;
    width: 100%;
    top: 0;
}

.details-content {
    color: #FFFFFF;
    margin: 15px 10px;
}

.details-content-label {
    padding-right: 10px;
}

.details-content-riddle {
    font-size: x-small;
    font-style: italic;
}

ul {
    padding-left: 0;
}

li {
    font-size: small;
    list-style-type: none;
    padding-left: 15px;
}