.details-container {
    background-color: #000000;
    left: 0;
    height: 100%;
    font-family: 'Tagesschrift';
    position: absolute;
    width: 100%;
    top: 0;
}

.details-content-background {
    background: #00000000 url('../assets/images/got-throne-details.JPG') center/200% no-repeat;
    height: 50%;
    opacity: 0.5;
  }

.details-content {
    background-color: #0000008c;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 15px 10px;
    margin-top: 20%;
    position: absolute;
    padding: 0px 10px;
    top: 0;
    z-index: 1;
}

    .details-content a {
        color: #DACBCB;
        font-size: x-small;
    }

.details-content-label {
    padding-right: 5px;
}

.details-content-riddle {
    bottom: 10px;
    color: #FFFFFF;
    font-size: x-small;
    font-style: italic;
    margin: 15px 10px;
    position: fixed;
    text-align: center;
}

.got-number {
    font-size: small;
}

ul {
    padding-left: 0;
}

li {
    font-size: small;
    list-style-type: none;
    padding-left: 15px;
}