.contact-info-countdown {
  bottom: 25px;
  color: #FFFFFFA0;
  font-size: x-small;
  font-style: italic;
  position: absolute;
  z-index: 1001; /* This is to make it clickable since snow animations overlap everything */
}

  .contact-info-countdown a {
    color: #DACBCB;
    font-size: small;
}

.countdown-background {
  background: #00000000 url('../assets/images/got-throne-countdown.JPG') center/200% no-repeat;
  content: "";
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  width: 100vw;
}

.countdown-body {
  border: #FFFFFF solid 1px;
  margin: 2rem .5rem;
  z-index: 1;
}

.countdown-container {
  align-items: center;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.countdown-footer {
  z-index: 1;
}

.countdown-header {
  font-size: x-large;
  margin-top: 25px;
  z-index: 1;
}

.countdown-label {
  font-size: small;
}

.countdown-number {
  font-size: xx-large;
  color: rgb(209, 154, 4);
  z-index: 1;
}

.countdown-riddle {
  bottom: 50px;
  color: #FFFFFFA0;
  font-size: x-small;
  font-style: italic;
  position: absolute;
}